#
# Global git ignore 
# git config --global core.excludesfile ~/.gitignore
#
# adds the following line to .gitconfig
# [core]
# excludesfile = ~/.gitignore
#
# Byte compiled Python files
__pycache__/
*.py[cod]

# vi/vim swap files
*swp

# archive files
*.tar
*.tgz
*.tar.bz3

# Emacs backup files
*~

# build products
version.go
.last_commit
*.so
src/huginn/huginn
src/nmapparse/nmapparse
tmp/
bin/
