{{ define "metas" }}
<meta http-equiv="refresh" content="15" >
{{ end }}

{{ define "endscript"}}
{{end}}

{{ define "content" }}
   <div class="table-responsive-sm">
    <table width="100%" class="table table-sm table-striped">
    <thead>
      <tr>
        <th width="15%" scope="col" class="bg-primary text-white">Time</th>
        <th width="15%" scope="col" class="bg-primary text-white">Service</th>
        <th width="70%" scope="col" class="bg-primary text-white">Message</th>
    </thead>
    <tbody>
      {{ range .Data }}
      <tr>
        <td>{{.When}}</td>
        <td>{{.Who}}</td>
        <td>{{.Msg}}</td>
      </tr>
      {{end}}
    </tbody>
    </table>
   </div>
{{ end }}
