{{ define "metas" }}
<meta http-equiv="refresh" content="5" >
{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{{ end }}

{{ define "javascript" }}
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
{{ end }}

{{ define "script" }}
<script>
$(document).ready( function () {
    $('#statustable').DataTable();
} );
</script>
{{ end }}

{{ define "content" }}
   <div class="table-responsive-sm">
    <table id="statustable" width="100%" class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col" class="bg-primary text-white">Host</th>
        <th scope="col" class="bg-primary text-white">Check</th>
        <th scope="col" class="bg-primary text-white">Output<br>
    Detail</th>
        <th scope="col" class="bg-primary text-white">Last Check<br>
		Next Check</th>
        <th scope="col" class="bg-primary text-white">Threshold</th>
        <th scope="col" class="bg-primary text-white">Last Change</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Data }}
        {{ if (eq .Exit 0) }}
          <tr class="bg-success text-white">
        {{ end }}
        {{ if (eq .Exit 1) }}
          <tr class="bg-warning text-white">
        {{ end }}
        {{ if (eq .Exit 2) }}
          <tr class="bg-danger text-white">
        {{ end }}
        {{ if (eq .Exit 3) }}
          <tr class="bg-info text-white">
        {{ end }}
        <td> {{ .Name }} <br> <i>{{ .Group }}</i> </td>
        <td style="font-size: 60%"> {{ .Check }} <br> {{ .Perf }}</td>
        <td> <div style="font-size: 75%"> {{ .Output }} <br> {{ .Text }} </div></td>
        <td style="font-size: 90%"> {{ .Lastrun }} <br>
        	{{ .Nextrun }} </td>
        <td> {{ .ChgThr }} </td>
        <td style="font-size: 90%"> {{ .LastChg }} </td>
      </tr>
      {{end}}
    </tbody>
    </table>
   </div>
{{ end }}
