{{/*
   Raven Network Discovery and Monitoring
   Copyright (C) 2019 John{at}Orthoefer{dot}org

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/}}

{{ define "metas" }}
<meta http-equiv="refresh" content="2" >
{{ end }}

{{ define "endscript"}}
{{end}}

{{ define "content" }}
   <div class="table-responsive-sm">
    <table width="100%" class="table table-sm table-striped">
    <thead>
      <tr>
        <th width="15%" scope="col" class="bg-primary text-white">Routine</th>
        <th width="15%" scope="col" class="bg-primary text-white">When</th>
        <th width="70%" scope="col" class="bg-primary text-white">Message</th>
    </thead>
    <tbody>
      {{ range .Data }}
      <tr>
        <td>{{.Who}}</td>
        <td>{{.When}}</td>
        <td>{{.Msg}}</td>
      </tr>
      {{end}}
    </tbody>
    </table>
   </div>
{{ end }}
