#
#
# Make the user 
#   useradd --home-dir /srv/Raven --create-home --system --shell /bin/nologin raven
# 
[Unit]
Description=Raven Monitoring Daemon
After=network.target

[Service]
User=raven
Type=simple
PIDFile=/run/raven.pid
WorkingDirectory=/srv/Raven
Environment= CONFIG="/srv/Raven/raven.ini" 
Environment= WORKERS="10"
Environment= WEBPORT=":8000"
EnvironmentFile=-/etc/conf.d/raven
ExecStart=/srv/Raven/bin/huginn -config ${CONFIG} -workers ${WORKERS} -port ${WEBPORT}
Restart=always

[Install]
WantedBy=multi-user.target

